.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    opacity: 1;
    visibility: visible;

    background: rgba(0, 0, 0, 0.2);

    transition: visibility 250ms var(--timing-f), opacity 250ms var(--timing-f);
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    padding: 40px;

    background-color: var(--white-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden,
.modal.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.modal-close {
    display: inline-block;

    fill: currentColor;

    transition: color 250ms var(--timing-f);
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--text-color);
}

.modal-lable {
    display: inline-block;

    margin-bottom: 4px;

    letter-spacing: 0.01em;
}

.modal-input {
    display: block;
    width: 100%;
    height: 40px;

    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    background-color: inherit;
    color: var(--text-color);

    transition: border-color 250ms var(--timing-f);
}

.modal-input:hover,
.modal-input:focus-within,
.modal-textarea:hover,
.modal-textarea:focus,
.modal-input:focus-within+.form-icon,
.modal-input:hover+.form-icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal-feedback {
    display: block;
    margin-bottom: 20px;
}

.modal-textarea {
    display: block;
    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    outline: none;
    background-color: inherit;
    color: var(--text-color);
    resize: none;

    transition: border-color 250ms var(--timing-f);
}

.modal-lable-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px auto;
}

.modal-input-checkbox {
    appearance: none;
    position: absolute;
}

.modal-icon-check {
    width: 16px;
    height: 15px;

    display: block;
    margin-right: 8px;

    border: 2px solid var(--text-color);
    border-radius: 2px;
}

.modal-input-checkbox:checked+.modal-icon-check {
    border: 0;
    background-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.checkbox-label,
.checkbox-link {
    font-size: 14px;
    line-height: 1.71;
}

.checkbox-link {
    color: var(--accent-color);
    text-decoration-line: underline;
}