.clients{
    
    &__title {
        margin-bottom: 50px;
    }
    
    &__list {
        display: inline-flex;
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    
    &__link {
        width: 170px;
        height: 92px;
    
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    
        color: var(--icon-cl);
    
        border: 1px solid var(--icon-cl);
        border-radius: 4px;
    
        transition: color 250ms var(--timing-f), border-color 250ms var(--timing-f);
    }
    
    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
    
    &__icon {
        fill: currentColor;
    }
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: var(--text-color);
}
